* {
  margin: 0;
  padding: 0;
}

body{
   /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 91%, rgba(0,212,255,1) 100%);*/
    background-color: rgb(255, 255, 255);
    
  }

  /* topo */
  header {
    position: relative;
    width: 100%;
    top: 0;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
   
  }

  .header-left {
    position: relative;
    width: 25%;
    min-width: 300px;
    height: auto;
  }

  .logo img {
    width: 90%;
    margin-left: 10%;
    height: 110px;
    border-radius: 150%;
  }

  .header-right {
    position: relative;
    width: 60%;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .header-right ul li {
    float: left;
    width: auto;
    margin: 20px;
    font-size: 1.0em;
    list-style: none;
    font-family: 'Verdana';
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: gold;
    transition: color 0.5s ease;
  }
  
  /*Conteúdo do main */

#imgprincipal {
  width: 100%;

}
  .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .texto-principal {
      width: 800px;
      font-size: 3rem;
      margin-bottom: 2rem;
      text-align: center;
      color: rgb(230, 166, 29);
  }
  
  .segundo-texto {
      margin-bottom: 1rem;
      font-size: 1rem;
      color: rgb(165, 165, 165);
      text-transform: uppercase;
  }
  
  .btns-main {
      display: flex;
      justify-content: center;
      gap: 20px;
  }
  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h2{
    color:rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lobster', cursive;
  }
  .footer-content p{
    color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }

.btn-exp{
  margin-bottom: 10px;
}
/*======REGIÕES======*/
  label {
    cursor: default;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 1.1rem;
  }

  .container-local {
    display: block;
    padding: 5%;
  }

  .container-local h2 {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 1.4rem;
    margin-top: 0;
    letter-spacing: -.03em;
    text-align: center;
    cursor: default;
    
  }
  
  .container-int {
    text-align: center;
    margin-bottom: 2rem;
  }

  .container-int label {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 1.1rem;
    cursor: default;
    text-align: center;
  }

  .container-int select {
    display: block;
    width: 40%;
    height: 40px;
    text-align: center;
    background: #2d2c31;
    border-color: #2d2c31;
    color: white;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 300;
    border-radius: 0;
    transition: all .3s;
    outline-width: 0;
    margin-inline: auto;
  }
  /*-------------------GALERIA-----------*/

#galeria {
  font-family: 'Anton', sans-serif;
  margin:3%;
  background-color: ;
  color: rgb(3, 2, 0);
  width: 100%;
  text-align: center;
  height: auto;

}

  .galeria {
    width:100% ;
    height: 60vmin;
    display: flex;
    gap: 5px;
  }

  .galeria img{
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.6s;
  }
  .galeria img:hover {
    flex: 4;
  }

/*-------------------REDES SOCIAIS-----------*/

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  
  }
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(8, 0, 0);
  
}
.socials a i{
  font-size: 1.1rem;
  transition: color 1s ease;
  border: solid 1px;
  width: 30px;
  line-height: 30px;
  border-radius: 20px;
}
.socials a:hover i{
  color: gold;
  background-color: #000;
}
.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
#mapa {
  background-color: rgba(243,135,0,255);
  width: 100%;
  margin-top: 3%;
  
}

#mapa p {
  font-size: 150%;
  color: #fff;
  text-align: center;
  margin: 5%;
  font-family: 'Alfa Slab One';
}

#mapa iframe{
  border-radius: 20%;
}
#mapa img{
  margin-left: 30%;
  margin-right: 30%;
}


.Donos{
background-image: url(https://user-images.githubusercontent.com/110827553/198150229-66ccf5a8-2292-4dc0-944e-3762ba960ee8.jpg);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  z-index: 5;
 
}
.Donos p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
  



.imgDonos {
  border-radius: 50%;
  width: 8%;
  margin: 0 10px;
  margin-top: 10px;
   filter: drop-shadow(0px 0px 6px #fff);
}
.nomesDonos {
margin: 0 2.5%;
font-family: 'Lobster', cursive;
}