* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto";
}

body {
   /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 91%, rgba(0,212,255,1) 100%);*/
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-inline: auto;
  }

  /* topo */
  header {
    position: relative;
    width: 100%;
    top: 0;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: black;
  }

  .header-left {
    position: relative;
    width: 25%;
    min-width: 200px;
    height: auto;
  }

  .logo img {
    width: 90%;
    margin-left: 10%;
    height: 100%;
    border-radius:0%;
  }

  .header-right {
    position: relative;
    width: 60%;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .header-right ul {
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    gap: 10%;
  }

  .header-right ul li {
    float: left;
    width: auto;
    font-size: 1.0em;
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  header a:hover {
    color:orange;
    transition: all 1s ease;
  }

  #btn-topo {
    display: none;
  }

  /*========SCROLL==========*/
  ::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      orange,
      red
    );
    border-radius: 50px;
  }

  ::-webkit-scrollbar-track {
    background: #474747;
  }
  
  /*Conteúdo do main */

  #imgprincipal {
    width: 100%;
  }

  .main-content .loc {
    width: 100%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .segundo-texto {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
  }
  
  .btns-main {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .btn-exp{
    margin-bottom: 10px;
  }
/*======REGIÕES======*/
  label {
    cursor: default;
    font-weight: 300;
    font-size: 1.4rem;
  }


  .container-local {
    display: relative;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
   margin-bottom: 0;
  }

  .container-local h2 {
    font-size: 2rem;
    width: auto;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 1.4rem;
    letter-spacing: -.03em;
    text-align: center;
    cursor: default;
    padding-top: 5%;
  }

  .container-local .map{
    background-color: black;
    height: 500px;
  
  }

  .container-local .map iframe {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: solid rgba(243,135,0,255);
    margin: 35px;
  }
#espaço{
  margin-top: 0;
}

  .container-int {
    text-align: center;
    margin-bottom: 2rem;
  }

  .container-int label {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 1.1rem;
    cursor: default;
    text-align: center;
  }

  .container-int select {
    display: block;
    width: 40%;
    height: 40px;
    text-align: center;
    background: #2d2c31;
    border-color: #2d2c31;
    color: white;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 300;
    border-radius: 0;
    transition: all .3s;
    outline-width: 0;
    margin-inline: auto;
    cursor: pointer;
  }
  /*-------------------GALERIA-----------*/

  #galeria {
    margin:3%;
    color: rgb(3, 2, 0);
    width: 100%;
    text-align: center;
    height: auto;
    cursor: default;
  }

  .galeria {
    width:100% ;
    height: 60vmin;
    display: flex;
    gap: 5px;
  }

  .galeria img{
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.6s;
  }

  .galeria img:hover {
    flex: 4;
  }


  .galeriacell{
    display: none;
  }

  #app {
    background-color: rgba(243,135,0,255);
    width: 100%;
    margin-top: 3%;
  }
  
  #app p {
    font-size: 150%;
    color: #fff;
    text-align: center;
    margin: 5%;
    cursor: default;
  }
  
  #app img{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 40px;
  }
  
/*========FOOTER==========*/
  footer {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.25px;
    background: #222;
    color:#666;
  }

  footer a {
    color: #666;
  }

  footer a:hover {
    color: orange;
    transition: all 1s;
  }

  footer h2, footer .footer-bottom p {
    cursor: default;
    margin: 15px;
  }

  footer h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }

  .donos {
    padding: 20px 0;
    text-align: center;
    z-index: 5;
  }

  div.donos #prop {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  div.donos #prop .chef {
    margin-inline: 2%;
    text-align:center;
  }

  .imgDonos {
    border-radius: 50%;
    width: 80px;
  }

  /*-------------------REDES SOCIAIS-----------*/

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .socials li{
    margin: 0 10px;
  }

  .socials a{
    text-decoration: none; 
  }

  .socials a i{
    font-size: 1.1rem;
    transition: color 1s ease;
    border: solid 1px;
    width: 30px;
    line-height: 30px;
    border-radius: 20px;
  }

  .socials a:hover i{
    color: orange;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

  }

  .footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }

/*-------------------RESPONSIVIDADE-----------*/
@media screen and (max-width: 768px) {
  /* topo */
  header {
    position: relative;
    width: 100%;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
  }

  .header-right {
    display: none;
  }

  .header-left{
    position: relative;
    width: 10%;
    max-width: 300px;
    height: auto;
  }

  #btn-topo {
    display: inline-flex;
    align-self: center;
    height: 100%;
    width: 12%;
    min-width: 50px;
    transition-property: all;
    transition-duration: 50ms;
  }

  #btn-topo .open-menu {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  #btn-topo .close-menu {
    display: none;
  }

  /* MENU EXPANDED */
  
  body.menu-expanded {
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
  
  body.menu-expanded .container,
  body.menu-expanded .container .header-right,
  body.menu-expanded #btn-topo .close-menu,
  body.menu-expanded {
    display: block;
  }

  body.menu-expanded footer,
  body.menu-expanded main,
  body.menu-expanded #btn-topo .open-menu,
  body.menu-expanded .logo,
  body.menu-expanded .headerleft {
    display: none;
  }

  body.menu-expanded .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    transition-property: all;
    transition-duration: 400ms;
  }
  
  body.menu-expanded #btn-topo {
    display: flex;
    align-self: flex-start;
    height: 80px;
    position: absolute;
    right: 0;
    width: 12%;
  }
  
  body.menu-expanded #btn-topo .close-menu{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    align-self: flex-start;
    width: 100%;
    height: 100%;
  }

  body.menu-expanded .header-right {
    min-width: 320px;
    position: absolute;
    
  }

  body.menu-expanded .header-right .menu{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 400px;
    margin-bottom: 40%;
    
  }
 body.menu-expanded .header-right .menu li{
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
 }
 body.menu-expanded .header-right .menu a{
   border: solid white 1px;
   padding: 15px;
    border-radius: 10px;
 }

  body.menu-expanded .header-right .menu a:hover {
  background-color: rgb(255, 119, 0);
  color: black;
  padding: 15px;
  transition: 0.2s;
 }

 /*========SCROLL==========*/
 ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

 /*-------REGIÕES--------*/

 .container-local .map iframe {
  width: 80%;
  height: 450px;
  border-radius: 10px;
  
}

.galeria{
  display: none;
}

.galeriacell {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 100%;
  height: 500px;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px;
 /* background-color: rgba(243,135,0,255);*/
 background-color: black;

}

.galeriacell img{
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 100px;
  scroll-snap-align: start;
  cursor: pointer;
  border: solid rgba(243,135,0,255);
}

#app{
  margin-top: 0%;
}


}

